<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--DATA_CENTER PRODUCTION-->
    <!--<add name="ORA_CONNECTION_STRING_DC" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.88.33)(PORT = 1521)))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = wh)));User Id=ems;Password=cpcpn; " />-->
    
    <!--DATA_CENTER_DEV-->
    <add name="ORA_CONNECTION_STRING_DC" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.68.219)(PORT = 1521)))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = wh)));User Id=ems;Password=123456; " />
    
    <!--DATA_DOI_SOAT-->
    <add name="ORA_CONNECTION_STRING_PTEMS" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.88.32)(PORT = 1521)))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = doisoat)));User Id=ems;Password=pds; " />
    
    <!--PNS_PRODUCTION-->
    <!--<add name="ORA_CONNECTION_STRING_PNS" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.68.87)(PORT = 1521)))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = EMSDB)));User Id=ems_pns;Password=cpnems; " />-->
    
    <!--PNS_DEV-->
    <add name="ORA_CONNECTION_STRING_PNS" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.68.206)(PORT = 1521)))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = emsdb)));User Id=ems_pns;Password=cpnems; " />
  </connectionStrings>
  <appSettings>
    <add key="MongoServer" value="mongodb://192.168.68.12:55555" />
    <add key="MongoDataBase" value="ems_customers" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LOG_PATH" value="C:\LogFile\WebService.Order" />
    <add key="QUOTA_PATH" value="C:\Quota" />
    <add key="QUOTA_VALUE" value="500" />    
    <add key="SCHEMA_NAME" value="EMS." />
    <add key="Username" value="ems" />
    <add key="Password" value="ems" />
    <add key="URI" value="http://192.168.68.75:1234/" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>